body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #808080;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
  margin: 0;
}

#game-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 720px) {
  canvas {
    max-width: 720px;
    max-height: 720px;
    display: block;
    margin: auto;
  }
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80px; /* set your desired height */
  background-color: #fff; /* set your desired background color */
  padding: 0.5rem 0;
}

#header h1 {
  margin: 0;
  font-size: 1.5rem;
}

#score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; /* set your desired height */
  background-color: #fff; /* set your desired background color */
}
